{% extends 'base.html.twig' %}

{% block title %}Nouvelle Adresse{% endblock %}

{% block body %}
    <main class="container">
        <section id="adresse">
            <h4 class="text-uppercase">Nouvelle adresse</h4>
            <div class="justify-content-center">
                {{ form(form) }}
            </div>
        </section>
    </main>
{% endblock %}
