{% extends 'base.html.twig' %}

{% block title %}Nouvelle Adresse{% endblock %}

{% block body %}
    <main class="container">
        <section id="add-address" class="card">
            <h4 class="card-header">Nouvelle adresse</h4>
            <div class="row justify-content-center">
                <div class="col-md-7 col-11">
                    {{ form(form) }}
                </div>
            </div>
        </section>
        <div class="card-footer">
            <span>
                <a href="{{ path('account') }}">< Retour à votre compte </a> <a href="{{ path('home') }}"> <i style="font-size: 17px" class="fas fa-home"></i> Accueil</a>
            </span>
        </div>
    </main>
{% endblock %}
