{% extends 'base.html.twig' %}

{% block title %}Identite{% endblock %}

{% block body %}
    <main class="container">
        <section id="account-details" class="card">
            <h4 class="card-header">Vos informations personnelles</h4>
            <div class="row justify-content-center">
                <div class="col-md-7 col-11">
                    {{ form(form) }}
                    <p><a href="{{ path('passwordUpdate', {id:app.user.id}) }}">Modifier mon mot de passe ?</a></p>
                </div>
            </div>
            <div class="card-footer">
            <span>
                <a href="{{ path('account') }}"><i class="fas fa-chevron-left"></i> Retour à votre compte </a> <a
                        href="{{ path('home') }}"> <i style="font-size: 17px" class="fas fa-home"></i> Accueil</a>
            </span>
            </div>
        </section>
    </main>
{% endblock %}
