{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}
    <main class="container">
        <section id="account-details">
            <h3>Vos informations personnelles</h3>
            <div class="row justify-content-center">
                <div class="col-md-7">
                    {{ form(form) }}
                </div>
            </div>
        </section>
    </main>
{% endblock %}
