{% extends 'base.html.twig' %}

{% block body %}
    <main class="container">
        <div class="row">
            <div class="col-md-10 offset-1">
                <h2 class="my-4">Enregistrez-vous</h2>
                {{ form(form) }}
            </div>
        </div>
    </main>
{% endblock %}
