<!-- Footer -->
<footer>
        <div>
            <h4>Qu'est ce qu'Alliance Manga ?</h4>
            <p>Alliance Manga, est une boutique en ligne proposant des figurines et des produits dérivés basés sur
                l'univers Manga et Anime.</p>
            <h4>Partenaires</h4>
            <a href="#">Bazar du manga: achat et vente de manga d'occasion</a>
        </div>
        <div>
            <h4>Informations</h4>
            <p>
                Livraison <br>
                Mentions légales <br>
                Conditions générales de vente <br>
                Condition de rétractation <br>
                Contactez-nous
            </p>
        </div>
        <div>
            <h4>Navigation</h4>
            <p>
                Promotions et bons plans figurines manga <br>
                Nouveautés des figurines et autres de produit de collection manga <br>
                Meilleures ventes de figurines de collection
            </p>
        </div>
        <div>
            <h4>Méthode de paiement</h4>
            <p>(Favicon moyen de paiement en en cours)</p>
        </div>
</footer>
<!-- End Footer -->