{% extends 'base.html.twig' %}

{% block title %}contact{% endblock %}

{% block body %}
    <main class="container">
        <section id="legal">
                <h2 class="text-center font-weight-bold">Mention légales</h2>
                <div class="row col-11">
                    <div>
                    <h4 class="font-weight-bold">Informations générales</h4>
                    <p>Le site AllianceManga.be est détenu par la Société BoxLabs par Actions Simplifiée au capital de 1 000 euros Immatriculée au RCS Evry 832 347 876 00019, domiciliée au 10 rue Louis Blériot, 91630 Marolles-en-Hurepoix. Le président de la société est Monsieur Alexandre COSTA.
                        Le numéro de TVA Intracommunautaire est le suivant : BE 91 832347876.</p>
                    </div>
                    <div>
                        <h4 class="font-weight-bold">Loi informatiques et libertés</h4>
                        <p>Le RGPD a pour objectif permanent de protéger vos données rentrées sur son site https://www.alliance_manga.be. En aucun cas, sans votre autorisation écrite, nous ne diffuserons vos informations. Ce site a fait l'objet d'une déclaration à la CNIL Conformément à la loi n° 78-17 du 6 janvier 1978, relative à l'informatique, aux fichiers et aux libertés (dite loi « Informatique et Libertés »).

                            Vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données qui vous concernent. Pour exercer ce droit d'accès, adressez-vous au RGPD située à bruxelles, en Belgique.</p>
                    </div>
                    <div>
                        <h4 class="font-weight-bold">Copyright</h4>
                        <p>L'intégralité du contenu diffusé sur le site Mangatori.fr, ainsi que sur ses propres domaines, est intégralement propriété de la SAS BoxLabs.</p>
                    </div>
                </div>
        </section>
    </main>
{% endblock %}
