/* CSS */
@font-face {
    font-family: 'Proxima Nova';
    src: url(https://d2i67f08wyo552.cloudfront.net/fonts/ProximaNova-Regular.otf);
;
}

body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

html {
    font-size: 17px;
    scroll-behavior: smooth;
}

/* HEADER */

.badge-secondary {
    background-color: rgb(33, 174, 150);
}

.dropdown-item:hover {
    background-color: rgb(33, 174, 150);
}


/* HOME VIDEO */

.section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.section h1 {
    font-family: Monotype Corsiva;
    text-align: center;
    font-size: 4rem;
    color: #3f3f3f;
    padding: 20px;
    margin: 15px;
    z-index: 1;
    opacity: 0.8;
    letter-spacing: -2px;
    font-weight: bold;
}

.section img {
    width: 125px;
}

.section span {
    font-size: 6rem;
}

.border-logo {
    border-left: 2px solid #3f3f3f;
}

.section img {
    margin-right: 0.3em;
}

.section button {
    font-family: Monotype Corsiva;
    font-size: 1.5rem;
    font-weight: bold;
    border: 2px solid #3f3f3f;
    letter-spacing: 2px;
}


.section .button-home {
    text-align: center;
    padding: 20px;
    margin: 15px;
    z-index: 1;
    opacity: 0.8;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
video {
    width: 100%;
    height: auto;
}

.color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: lightblue;
    width: 100%;
    height: 100vh;
    opacity: 0.4;
}


/* HOME */

main, #licence-description {
    padding-top: 2em;
    padding-bottom: 2em;
}

#univers-home h2, .products-h2 h2, #products-home a:last-child, #products-home h4, #product-detail a div, #product-description h2, #product-description span, #adresse h4, #account-details h4, #account-page h4, #resetPassword h4, #login h4, #account-registration h4, #add-address h4, #account-page h6, #addressPayement h4, .cart-product h4, .modal-title, #legal h2 {
    font-weight: bold;
    letter-spacing: -1px;
}

#details-home div {
    font-size: 15px;
}

#details-home div p {
    font-size: 20px;
}

#details-home div, #univers-home div, #univers-home h2, #products-home, #product-detail, .products-h2 h2, #product-description {
    text-align: center;
    justify-content: center;
}

#univers-home h2, .products-h2 h2, #univers-home .card-title, #products-home .card-title span, #products-home a:last-child, #product-detail a, #product-description h2, #product-description span, #products-home h4, #account-page .card-title, #adresse h4, #account-details h4, #account-page h4, #resetPassword h4, #login h4, #account-registration h4, #add-address h4, #account-page h6, #addressPayement h4, .content-detail p, #legal h2 {
    text-transform: uppercase;
}


#univers-home a, #products-home div div a, #product-detail a, #cart table:last-child tfoot:last-child tr a, #account-page a, #login a, #account-registration a, #account-details a, .modal-footer a, #mailRegistration a, #mail-order a, #adresse a {
    text-decoration: none;
    color: black;
}

#univers-home button, #products-home div div a:last-child div, #product-detail a div, #cart table:last-child tfoot:last-child tr td, .modal-footer a div, #mailRegistration a div, #mail-order a div {
    padding: 0.60em;
    color: white;
    background-color: rgb(33, 174, 150);
    border: none;
}

#univers-home button:hover, #products-home div div a:last-child div:hover, #product-detail a div:hover, #cart table:last-child tfoot:last-child tr td:hover, .modal-footer a div:hover #mailRegistration a div:hover, #mail-order a div:hover {
    background-color: rgb(21, 122, 109);
}

.content-detail p {
    letter-spacing: -1px;

}

#products-home .card-body span:first-child {
    font-size: 20px;
}

#products-home .card-body span:last-child {
    font-size: 17px;
}

.title-product {
    font-size: 13px;
}

#products-home div div {
    padding: 0.5em;
}

/* DETAIL PRODUCT PAGE */

#product-detail, #product-description {
    text-align: justify;
}

#product-detail h1 {
    font-size: 40px;
    font-weight: bolder;
}

#product-detail h3 {
    font-size: 30px;
}

#product-detail a div {
    width: 60%;
    text-align: center;
}

#product-detail div div div:last-child div:nth-child(3), #product-detail div div div:last-child div:nth-child(5), .content-detail div, .douane {
    border: 1px solid rgba(96, 96, 96, 0.24);
}

#product-detail div div div:last-child div:nth-child(3), #product-detail div div div:last-child div:nth-child(5) {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#product-detail div div div:last-child div:nth-child(3) p, .content-detail p, #product-detail div div div:last-child div:nth-child(5) p {
    margin: 0.5em;
}

.content-detail div, .douane {
    padding: 0.5em;
}

#product-description {
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: rgba(112, 174, 136, 0.24);
}

.same-product {
    text-align: justify;
}


/* DERIVED PRODUCT PAGE */


#products-home h5 {
    padding-top: 2em;
    padding-bottom: 1em;
    padding-left: 1em;
}

/* CART*/

.fa-trash {
    color: steelblue;
}

.fa-trash:hover {
    color: midnightblue;
}

.trashCart a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}

#cart table:last-child tfoot:last-child tr span {
    color: white;
    font-size: 18px;
}

#cart table {
    background-color: white;
}

/* ACCOUNT */

.btn-outline-info {
    font-size: 15px;
}

#login form, #account-page .card, #account-details .row .col-md-7, #adresse .card, #adresse .text-center, #resetPassword form {
    margin: 1em;
}

#account-page .card-title, #account-page .card-body p, .modal-title {
    color: rgb(33, 174, 150);
}

#account-page .card-body p:hover {
    color: rgb(21, 122, 109);
}

#login a, #account-registration a, #account-details a, #adresse a {
    color: rgb(51, 138, 174);
}

#login a:hover, #account-registration a:hover, #account-details a:hover, #adresse a:hover {
    color: rgb(28, 75, 95);
}

/* CONTACT */

#contact div div {
    margin-top: 1em;
    margin-bottom: 1em;
}


/* EMAIL */

#mail-order, #mailRegistration {
    margin: 2% 3%;
}

.products-mail div div, .products-mail div div:first-child div, .products-mail div div:first-child div:first-child div {
    display: flex;
}


@media screen and (max-width: 769px) {
    .products-figurine {
        display: flex;
    }
}

