{% extends 'base.html.twig' %}

{% block title %}Payement{% endblock %}

{% block body %}
    <main class="container">
        <section id="payment">
            <h4>Payez votre commande</h4>
            <div class="row justify-content-center">

            </div>
        </section>
    </main>
{% endblock %}
