{% extends 'base.html.twig' %}

{% block title %}Payement réussi!{% endblock %}

{% block body %}
    <main class="container">
        <section id="payment">
            <div class="row justify-content-center">
                <h1>Merci pour votre commande!</h1><br>
                <p>Nous apprécions votre confiance. Si vous avez la moindre question, contactez nous ... ici</p>
            </div>
        </section>
    </main>
{% endblock %}
